<!-- ko if: ($col.getLabel($row()) && $col.getLabel($row()).includes("Error")) -->
<span class='grid-severity-major'><!-- ko i18n: "Error" --><!-- /ko --></span>
<!--/ko-->
<!-- ko if: ($col.getLabel($row()) && $col.getLabel($row()).includes("Queued")) -->
<span class='grid-severity-minor'><!-- ko i18n: "Queued for Update" --><!-- /ko --></span>
<!--/ko-->
<!-- ko if: ($col.getLabel($row()) && $col.getLabel($row()).includes("Synced")) -->
<span class='grid-severity-notice'><!-- ko i18n: "Synced" --><!-- /ko --></span>
<!--/ko-->
<!-- ko if: ($col.getLabel($row()) &&$col.getLabel($row()).includes("Failed")) -->
<span class='grid-severity-critical'><!-- ko i18n: "Failed" --><!-- /ko --></span>
<!--/ko-->
